<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title>部门管理</title>
</block>
<block name="body">
	<div class="main-page">
		<table id="treegrid"></table>
		<!--grid工具栏 -->
		<div id="toolbar">
			<div style="display:inline-block;">
				<a id="btn_add" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-add'">新增</a>
				<div class="toolbar-separator"></div>
				<a id="btn_edit" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-edit'">修改</a>
				<div class="toolbar-separator"></div>
				<a id="btn_del" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-del'">删除</a>
				<div class="toolbar-separator"></div>
				<a id="btn_enable" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-enable'">启用</a>
				<div class="toolbar-separator"></div>
				<a id="btn_disable" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-disable'">禁用</a>
				<div class="toolbar-separator"></div>
				<a id="btn_refresh" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'pagination-load'">刷新</a>
			</div>
		</div>
	</div>
	
</block>
<block name="script">
	<script type="text/javascript">
	$(function(){
		//datagrid表格
		$("#treegrid").treegrid({
			border:true,
			fit:true,
			url:"{:U('Fhmng/Dep/getDepTreeList')}",
			striped:true,//是否显示斑马线效果
			nowrap:true,//单元格不换行
			rownumbers:true,//行号
			toolbar:"#toolbar",
			remoteSort:false,
			singleSelect:true,
			idField:'id',
			treeField:'dep_name',
			columns:[[
			    {title:"部门名称",field:"dep_name",width:400,sortable:true},
				{title:"状态",field:"status",width:60,align:"center",sortable:true,formatter:function(value,row,index){
					if(value==1){
						return "<span style='color:green;font-weight:bold'>启用</span>";
					}else if(value == 0){
						return "<span style='color:gray;font-weight:bold'>禁用</span>";
					}
				}},
				// {title:"排序号",field:"order_no",width:80,sortable:true},
				{title:"创建时间",field:"create_time",width:150,sortable:true},
				{title:"描述",field:"description",width:300,sortable:true,formatter:function(value,row,index){
					var html="<span class='span-ellipsis' title='"+ value+"'>"+ value+"</span>";
					return html;
				}}
			]],
			onSelect:oncheckChange,
			onUnselect:oncheckChange,
		});
		//刷新
		$("#btn_refresh").click(function(){
			var selections = $("#treegrid").treegrid("getSelections");
			if(selections.length==0||selections.length==1){
					$("#btn_edit").linkbutton('enable');
				
			}else{
					$("#btn_edit").linkbutton('disable');
			}
			$("#treegrid").treegrid("reload");
		});
		//选中之后，查看是否可以编辑，这里设置的是，禁用之后不可编辑
		function oncheckChange(){
			var selections = $("#treegrid").treegrid("getSelections");
			var id = selections[0].id;
			$.ajax({
				url:"{:U('Dep/checkStatus')}",
				data:{dep_id:id},
				success:function(res){
					if(res == 'true'){
						$("#btn_edit").linkbutton('enable');
					}else{
						$("#btn_edit").linkbutton('disable');
					}
				}
			});
		}
		//新增
		$("#btn_add").click(function(){
			openDialog({
				windowId:"window",
				title:"新增部门",
				href:"{:U('Dep/addDepPage')}",
				width:600,
				height:360,
				buttons:[
					{
						id:"btnSubmit",
						text:"提交",
						iconCls:"icon-ok",
						handler:function(){
							submitForm("myform");
						}
					},
					{
						text:"取消",
iconCls:"icon-cancel",
handler:function(){
		closeDialog();
}
					}
				]
			});
		});
		
		//修改
		$("#btn_edit").click(function(){
			//取得选中的记录
			var selections = $("#treegrid").treegrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录",
					"color":"yellow"
				});
				return;
			}
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			var id = selections[0].id;
			openDialog({
				windowId:"window",
				title:"修改部门",
				href:"{:U('Dep/editDepPage')}?id="+id,
				width:600,
				height:360,
				buttons:[
					{
						text:"提交",
						iconCls:"icon-ok",
						handler:function(){
							submitForm("myform");
						}
					},
					{
						text:"取消",
iconCls:"icon-cancel",
handler:function(){
		closeDialog();
}
					}
				]
			});
		});
		
		//删除
		$("#btn_del").click(function(){
			//取得选中的记录
			var selections = $("#treegrid").treegrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录",
					"color":"yellow"
				});
				return;
			}
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			confirm('温馨提示','确定删除？',function(flag){    
			    if (flag){ 
			    	var id = selections[0].id;
					$.ajax({
						url:"{:U('Dep/delDep')}",
						type:"post",
						data:{
							"id":id
						},
						success:function(response){
							var result = $.parseJSON(response);
							if(result.success){
								$.tipShow({
									"message":result.message,
									"color":"green"
								});
								$("#treegrid").treegrid("reload");
								$("#treegrid").treegrid("clearSelections");
							}else{
								$.messager.alert('警告',result.message,'warning');   
								// if(result.validateCode == 'Exist_Price_Belong'){
								// 	$.messager.alert('警告','此部门下有订单<font color="red">'+result.orders+'</font>的费用归属，请处理后再操作');    

								// }else{
								// 	$.tipShow({
								// 		"message":result.message,
								// 		"color":"red"
								// 	});
								// }
							}
						}
					});
			    }    
			});  
		});
		
		//启用
		$("#btn_enable").click(function(){
			//取得选中的记录
			var selections = $("#treegrid").treegrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录",
					"color":"yellow"
				});
				return;
			}
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			confirm('温馨提示','确定启用？',function(flag){    
			    if (flag){ 
			    	var id = selections[0].id;
					$.ajax({
						url:"{:U('Dep/setDepStatus')}",
						type:"post",
						data:{
							"id":id,
							"status":1
						},
						success:function(response){
							var result = $.parseJSON(response);
							if(result.success){
								$.tipShow({
									"message":result.message,
									"color":"green"
								});
								$("#treegrid").treegrid("reload");
							}else{
								$.messager.alert('警告',result.message,'warning');
								// $.tipShow({
								// 	"message":result.message,
								// 	"color":"red"
								// });
							}
						}
					});
			    }    
			}); 
		});
		
		//禁用
		$("#btn_disable").click(function(){
			//取得选中的记录
			var selections = $("#treegrid").treegrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录",
					"color":"yellow"
				});
				
				return;
			}
			
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			
			confirm('温馨提示','确定禁用？',function(flag){    
			    if (flag){ 
			    	var id = selections[0].id;
					$.ajax({
						url:"{:U('Dep/setDepStatus')}",
						type:"post",
						data:{
							"id":id,
							"status":0
						},
						success:function(response){
							var result = $.parseJSON(response);
							if(result.success){
								$.tipShow({
									"message":result.message,
									"color":"green"
								});
								$("#treegrid").treegrid("reload");
							}else{
								$.messager.alert('警告',result.message,'warning');
								// $.tipShow({
								// 	"message":result.message,
								// 	"color":"red"
								// });
							}
						}
					});
			    }     
			}); 
			
		});
	});
//清空查询条件
function clearSearch(){
	$('#searchValue').combobox('setValue', ' ');
	$('#treegrid').treegrid('load',{
		mid:0
	});
}
	</script>
</block>