<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title>修改个人信息</title>
</block>
<block name="body">
<form id="myform" class="easyui-form myform" data-options="novalidate:false" method="post">
	<img style="float:left;position:relative;top:15px; margin-left: 15px;" src="__PUBLIC__/easyui/themes/icons_extend/userinfo.png"/>
	<table>
		<tr>
			<td class="text_right" style="width:80px">真实姓名：</td>
			<td>
				{$user.true_name}
				<input id="hdnUserid" name="id" type="hidden" value="{$user.id}"/>
			</td>
		</tr>
		<tr>
			<td class="text_right">登录名：</td>
			<td>{$user.login_name}</td>
		</tr>
		<!-- <tr>
			<td class="text_right">邮箱：</td>
			<td><input name="email" value="{$user.email}" class="easyui-textbox" data-options="validType:['email','length[0,100]']" /></td>
		</tr> -->
		<tr>
			<td class="text_right">手机：</td>
			<td><input type="text" name="phone" value="{$user.telephone}" class="easyui-textbox" data-options="validType:'isphone'"/></td>
		</tr>
		<tr>
			<td class="text_right" style="width:80px">头像：</td>
					<td>
						<div style="position:relative">
						<input type="file" id="btn_upload">
						<input id="hdnimg" type="hidden" name="headimgurl" value="{$user.headimgurl}">
						<empty name="user.headimgurl">
							<div class="upload-img-box" style="display:none;position: absolute;left: 0px;top: 35px;">
								<div class="upload-pre-item">
									<span class="upload-img-remove" title="点击删除" ></span>
									<img id="imgPre">
								</div>
							</div>
						<else/>
							<div class="upload-img-box" style="display:block;position: absolute;left: 0px;top:35px;">
								<div class="upload-pre-item">
									<span class="upload-img-remove" title="点击删除" data="__UPLOADS__{$user.headimgurl}"></span>
									<img id="imgPre" src="__UPLOADS__{$user.headimgurl}">
								</div>
							</div>
						</empty>
						</div>
					</td>
		</tr>	
	</table>
</form>
</block>
<block name="script">
	<script type="text/javascript" src="__LOCALPUBLIC__/plugins/uploadify/jquery.uploadify.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#myform").form({
			url:"{:U('User/modifyPersonalInfo')}",
			iframe:false,
			ajax:true,
			onSubmit:function(param){
				var isValid  = $(this).form('validate');
				return isValid ;
			},
			success:function(response){
				var result = $.parseJSON(response);
				if(result.success){
					$.tipShow({
						"message":"操作成功",
						"color":"green",
						"callback":function(){
							closeDialog({
								"windowId":"window",
								"needRefresh":false
							});
						}
					});
				}else{
					$.tipShow({
						"message":"操作失败",
						"color":"red"
					});
				}
			},
			error:function(){
				$.tipShow({
					"message":"操作失败",
					"color":"red"
				});
			}
		});
		
		//验证密码与确认密码是否相同
		$.extend($.fn.validatebox.defaults.rules, {    
		    equals: {    
		        validator: function(value,param){
		            return value == $(param[0]).val();    
		        },    
		        message: '两次输入密码不一致'   
		    },
		    isphone:{
		    	validator:function(value,param){
		    		 var length = value.length;
		    		 var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
		    		 return (length == 11 && mobile.test(value));
		    	},
		    	message:"手机格式不正确"
		    }
		}); 


				var uploadify_onSelectError = function(file, errorCode, errorMsg){
			var msgText="";
	        switch (errorCode) {  
	            case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:  
	                //this.queueData.errorMsg = "每次最多上传 " + this.settings.queueSizeLimit + "个文件";  
	                msgText += "每次最多上传 " + this.settings.queueSizeLimit + "个文件";  
	                break;  
	            case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:  
	                msgText += "文件大小超过限制( " + this.settings.fileSizeLimit + " )";  
	                break;  
	            case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:  
	                msgText += "文件大小为0";  
	                break;  
	            case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:  
	                msgText += "文件格式不正确，仅限 " + this.settings.fileTypeExts;  
	                break;  
	            default:  
	                msgText += "错误代码：" + errorCode + "\n" + errorMsg;  
	        }  
	        $.tipShow({
				"message":msgText,
				"color":"red"
			});
	    };  	   
	    
		//上传图片
	    /* 初始化上传插件 */
	    var sid = '{:session_id()}';
		$("#btn_upload").uploadify({
			"formData":{
				"session_id":sid//需要传递session_id，否则火狐报302错误
			},
			"buttonClass":"btn-upload",
	        "swf":"__LOCALPUBLIC__/plugins/uploadify/uploadify.swf",
	        "buttonText":"上传图片",
	        "uploader":"{:U('uploadImg')}",
	        "width":100,
	        "removeTimeout":1,
	        "fileTypeExts":"*.jpg; *.png; *.gif;",
	        "onSelectError":uploadify_onSelectError,
	        "onUploadStart":function(file){
	        	//文章id
	        	var id = $("#hdnId").val();
	        	$("#btn_upload").uploadify("settings","formData",{"id":id});
	        	
	        	var data = $(".upload-img-remove").attr("data");
	        	//判断是否已经含有了原图片，如果有则需要先删除原图片
	        	if(data){
	        		$("#btn_upload").uploadify("settings","formData",{"path":data});
	        	}
	        	
	        	//判断是否设置了上传图片的宽度和高度
	        	var scaleWidth = $("#imgWidth").val();
	        	var scaleHeight = $("#imgHeight").val();
	        	if(scaleWidth&&scaleHeight){
	        		$("#btn_upload").uploadify("settings","formData",{"scaleWidth":scaleWidth,"scaleHeight":scaleHeight});
	        	}else{
	        		$("#btn_upload").uploadify("settings","formData",{"scaleWidth":0,"scaleHeight":0});
	        	}
	        },
	        "onUploadSuccess":function(file, data, response){
	          	//var result = $.parseJSON(data);
	        	var result = eval("("+ data +")");
	        	if(result.status == 1){
					$("#hdnimg").val(result.file.old);
	        		var imgSrc = "__UPLOADS__"+result.file.old;
	        		$("#imgPre").attr("src",imgSrc);
	        		$(".upload-img-remove").attr("data",imgSrc);
	        		$(".upload-img-box").slideDown();
	        	}
	        },
	        'onFallback':function() {
	            alert('未检测到兼容版本的Flash.');
	        }
	    });
		//删除图片
		$(".upload-img-remove").click(function(){
			var id = $("#hdnId").val();
			var path = $(this).attr("data");
			if(!path){
				return;
			}
			$(".upload-img-box").slideUp("normal",function(){$("#imglogoPre").attr("src","");});
			$("#hdnimg").val("");
		})
	});
	</script>
</block>