<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="__PUBLIC__/system/css/g-error-page.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="box_warp">
        <div class="box_left">
            <div class="box_right">
            <div class="box_content">
                <h1>500错误,您懂得!</h1>
                <div class="note">
                    <div >非常抱歉，您的帐户暂时无法使用。对于给您带来的不 便，我们深表歉意，建议您在几分钟后重试。<a href="">点击返回</a></div>
                </div>
            </div>
            </div>
        </div>
    </div>
   
</body>
</html>
