<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>友情提示</title>
    <link href="__PUBLIC__/system/css/g-error-page.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="box_warp">
        <div class="box_left">
            <div class="box_right">
            <div class="box_content">
                <h1>您没有操作权限!</h1>
                <div class="note">
                    <h2>出错原因:</h2>
                    <div >您的账户无此项操作的权限，如想要开通权限，请联系 系统管理员。</div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
