<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="__PUBLIC__/system/css/g-error-page.css" rel="stylesheet" type="text/css" />
</head>
<body>
     <div class="box_warp">
        <div class="box_left">
            <div class="box_right">
            <div class="box_content">
                <h1>您出错了!</h1>
                <div class="note">
                    <h2>出错原因:</h2>
                    <div >出错原因出错原因出错原因出错原因出错原因出错原因。</div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
