<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title>修改个人密码</title>
</block>
<block name="body">
<form id="myform" class="easyui-form myform" data-options="novalidate:false" method="post">
	<img style="float:left;position:relative;top:15px;margin-left: 15px;" src="__PUBLIC__/easyui/themes/icons_extend/org/key.png"/>
	<table>
		<tr>
			<td class="text_right" style="width:80px">姓名：</td>
			<td>
				{$user.true_name}
				<input id="hdnUserid" name="id" type="hidden" value="{$user.id}"/>
			</td>
		</tr>
		<tr>
			<td class="text_right">登录名：</td>
			<td>{$user.login_name}</td>
		</tr>
		<tr>
			<td class="text_right">原密码：</td>
			<td>
			<input type="password" style="display:none">
			<input type="password" id="orgpwd"  name="orgpwd" class="easyui-textbox" data-options="required:true,validType:['length[0,20]','validOrgPwd']"><span class="mark">*</span></td>
		</tr>
		<tr>
			<td class="text_right">新密码：</td>
			<td><input type="password" id="pwd"  name="pwd" class="easyui-textbox" data-options="required:true,validType:['checkpwd','length[8,20]'],tipPosition:'left',"><span class="mark">*</span></td>
		</tr>
		<tr>
			<td class="text_right">确认密码：</td>
			<td><input type="password" name="confirmpwd" class="easyui-textbox" data-options="required:true" validType="equals['#pwd']"><span class="mark">*</span></td>
		</tr>
	</table>
</form>
</block>
<block name="script">
	<script type="text/javascript">
	$(function(){
		$("#myform").form({
			url:"{:U('User/modifyPersonalPwd')}",
			iframe:false,
			ajax:true,
			onSubmit:function(param){
				var isValid  = $(this).form('validate');
				return isValid ;
			},
			success:function(response){
				var result = $.parseJSON(response);
				if(result.success){
					$.tipShow({
						"message":"操作成功",
						"color":"green",
						"callback":function(){
							closeDialog({
								"windowId":"window",
								"needRefresh":false
							});
							parent.window.location.href="{:U('Fhmng/AeciAdmin/loginOut')}";
						}
					});
				}else{
					if(result.validateCode=="orgpwderror"){
						$.tipShow({
							"message":"原密码错误",
							"color":"red"
						});
					}else{
						$.tipShow({
							"message":"操作失败",
							"color":"red"
						});
					}
				}
			},
			error:function(){
				$.tipShow({
					"message":"操作失败!",
					"color":"red"
				});
			}
		});
		
		//验证密码与确认密码是否相同
		$.extend($.fn.validatebox.defaults.rules, {   
			checkpwd:{    
		        validator: function(value,param){
		        	var reg = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[.~!@#$%^&*?])[a-zA-Z\d.~!@#$%^&*?]+$/;
		            return reg.test(value);    
		        },    
		        message: '数字+字母+特殊字符,长度8-20'   
		    }, 
		    equals: {    
		        validator: function(value,param){
		            return value == $(param[0]).val();    
		        },    
		        message: '两次输入密码不一致'   
		    },
		    isphone:{
		    	validator:function(value,param){
		    		 var length = value.length;
		    		 var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
		    		 return (length == 11 && mobile.test(value));
		    	},
		    	message:"手机格式不正确"
		    },
		    validOrgPwd:{
		    	validator:function(value,param){
		    		//用户id
		    		var uid={$user.id};
		    		var isValid = false;
		    		$.ajax({
		    			type:"post",
		    			async:false,
		    			data:{
		    				"uid":uid,
		    				"orgpwd":value
		    			},
		    			url:"{:U('User/validOrgPwd')}",
		    			success:function(response){
		    				var result = $.parseJSON(response);
		    				isValid = result.correct;
		    			},
		    			error:function(){
		    				isValid = false;
		    			}
		    		});
		    		return isValid;
		    	},
		    	message:"原密码错误"
		    }
		}); 
	});
	</script>
</block>