<extend name='Public/base'/>
<block name='style'>
    <link rel="stylesheet" href="__PUBLIC__/home/css/aboutus.css">
</block>
<block name='body'>
    <div class="main main-none" style='margin: 20px auto 0 auto;'>
        <div id="slideAll" class="slide-all">
            <div class="slide-hd">
                <volist name='list' id='vo' key="ko">
                <a href="javascript:void(0)" <if condition="I('get.t','null') eq $vo['content_code']">class="on"<elseif condition="($ko eq 1 )AND( I('get.t') eq '')"/>class="on"</if>  menu_index="{$vo.id}" >{$vo.title}</a>
                </volist>
            </div>
            <div class="slide-bd">
                <volist name="list" id="vo" key="ko">
                    <div style="word-break: break-all;padding: 20px;"  class="one-bd <if condition="I('get.t','null') eq $vo['content_code']">on<elseif condition="($ko eq 1 )AND( I('get.t') eq '')"/>on</if> " menu_index="{$vo.id}">{$vo.content|htmlspecialchars_decode|html_entity_decode}</div>
                </volist>
            </div>
        </div>
    </div>
</block>
<block name='script'>
    <script> 
        $(function(){
            $(".slide-hd a").click(function(){
                var menu_index = $(this).attr('menu_index');
                $(this).addClass("on");
                $(this).siblings("a").removeClass("on");
                $(".slide-bd .one-bd[menu_index="+menu_index+"]").addClass("on");
                $(".slide-bd .one-bd[menu_index="+menu_index+"]").siblings(".one-bd").removeClass("on");
            })
        })
    </script>
</block>
