<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title>友情链接</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/fancybox/jquery.fancybox.css"/>
</block>
<block name="body">
	<div class="main-page">
		<table id="datagrid"></table>
		<!--grid工具栏 -->
		<div id="toolbar">
			<div style="display:inline-block;">
				<a id="btn_add" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-add'">新增</a>
				<div class="toolbar-separator"></div>
				<a id="btn_edit" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-edit'">修改</a>
				<div class="toolbar-separator"></div>
				<a id="btn_del" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-del'">删除</a>
				<div class="toolbar-separator"></div>
				<a id="btn_enable" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-enable'">启用</a>
				<div class="toolbar-separator"></div>
				<a id="btn_disable" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-disable'">禁用</a>
			</div>
			<div style="display:inline-block;position:absolute;right:10px;top:3px">
					状态：<input id="drStatus"> <input id="searchbox">
			</div>
		</div>
	</div>
	
</block>
<block name="script">
<script src="__PUBLIC__/plugins/fancybox/jquery.fancybox.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(function(){
		//datagrid表格
		$("#datagrid").datagrid({
			border:true,
			fit:true,
			url:"{:U('Fhmng/FriendlyLink/getFriendLinkData')}",
			pagination:true,
			pageSize:20,//默认加载条数，必须是paseList内数据
			pageList:[10,20,30,50],
			striped:true,//是否显示斑马线效果
			nowrap:true,//单元格不换行
			rownumbers:true,//行号
			singleSelect:false,
			checkOnSelect:true,
			toolbar:"#toolbar",
			remoteSort:false,
			columns:[[
			    {title:"id",field:"id",checkbox:true},
			    {title:"链接标题",field:"link_title",width:150,sortable:true,formatter:function(value,row,index){
					var html="<span class='span-ellipsis' title='"+ value+"'>"+ value+"</span>";
					return html;
				}},
				{title:"链接网址",field:"link_url",width:300,sortable:true,formatter:function(value,row,index){
					var html="<a style='font-weight:bold;color:blue' href='"+value +"' target='_blank'>"+value+"</a>";
					return html;
				}},
				{title:"链接logo",field:"link_logo",align:"center",width:80,sortable:true,formatter:function(value,row,index){
					if(value){
						var imgsrc = "__UPLOADS__"+value;
						var html="<a title='"+ row.link_title +"logo' class='imgPreView' href='"+ imgsrc +"'><img title='点击查看大图' src='__PUBLIC__/easyui/themes/icons_extend/view.gif'/></a>";
						return html;
					}else{
						return ""
					}
					
				}},
				{title:"排序号",field:"order_no",width:80,sortable:true},
				{title:"状态",field:"status",width:60,align:"center",sortable:true,formatter:function(value,row,index){
					if(value==1){
						return "<span style='color:green;font-weight:bold'>启用</span>";
					}else{
						return "<span style='color:gray;font-weight:bold'>禁用</span>";
					}
				}},
				{title:"描述",field:"description",width:300,sortable:true,formatter:function(value,row,index){
					var html="<span class='span-ellipsis' title='"+ value+"'>"+ value+"</span>";
					return html;
				}},
			]],
			onSelect:oncheckChange,
			onUnselect:oncheckChange,
			onSelectAll:oncheckChange,
			onUnselectAll:oncheckChange,
			onLoadSuccess:function(){
				$('.imgPreView').fancybox();
			}
			
		});
		//选择行改变处理方法
		function oncheckChange(){
			//取得选中的记录
			var selections = $("#datagrid").datagrid("getSelections");
			if(selections.length>1){
				$("#btn_edit").linkbutton('disable');
			}else{
				$("#btn_edit").linkbutton('enable');
			}
		}
		
		//查询框
		$("#searchbox").searchbox({
			width:150,
			prompt:'链接标题',
			searcher:function(value,name){
				//用户状态
				var status = $("#drStatus").combobox("getValue");
				$("#datagrid").datagrid('load',{
					queryStr:$.trim(value),
					status:status
				});
			}
		});
		
		//用户状态下拉列表
		$("#drStatus").combobox({
			width:100,
			panelHeight:"auto",
			valueField:'value',    
		    textField:'text',
		    editable:false,
		    value:"-1",
		    data:[
		    	{"text":"全部",value:"-1"},
		    	{"text":"启用",value:"1"},
		    	{"text":"禁用",value:"0"}
		    ]
		});
		
		//新增
		$("#btn_add").click(function(){
			openDialog({
				windowId:"window",
				title:"添加友情链接",
				href:"{:U('FriendlyLink/addFriendlyLinkPage')}",
				width:550,
				height:420,
				buttons:[
					{
						id:"btnSubmit",
						text:"提交",
						iconCls:"icon-ok",
						handler:function(){
							submitForm("myform");
						}
					},
					{
						text:"取消",
iconCls:"icon-cancel",
handler:function(){
		closeDialog();
}
					}
				]
			});
		});
		
		//修改
		$("#btn_edit").click(function(){
			//取得选中的记录
			var selections = $("#datagrid").datagrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录",
					"color":"yellow"
				});
				return;
			}
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			var id = selections[0].id;
			openDialog({
				windowId:"window",
				title:"友情链接编辑",
				href:"{:U('FriendlyLink/editFriendlyLinkPage')}?id="+id,
				width:550,
				height:420,
				buttons:[
					{
						text:"提交",
						iconCls:"icon-ok",
						handler:function(){
							submitForm("myform");
						}
					},
					{
						text:"取消",
iconCls:"icon-cancel",
handler:function(){
		closeDialog();
}
					}
				]
			});
		});
		
		//删除
		$("#btn_del").click(function(){
			//取得选中的记录
			var selections = $("#datagrid").datagrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录",
					"color":"yellow"
				});
				return;
			}
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			confirm('温馨提示','确定删除？',function(flag){    
			    if (flag){ 
			    	var ids = new Array();
					$.each(selections,function(i,item){
						ids.push(item.id);
					});
					
					$.ajax({
						url:"{:U('FriendlyLink/delLinks')}",
						type:"post",
						data:{
							"ids":ids.join(",")
						},
						success:function(response){
							var result = $.parseJSON(response);
							if(result.success){
								$.tipShow({
									"message":result.message,
									"color":"green"
								});
								$("#datagrid").datagrid("reload");
							}else{
								$.tipShow({
									"message":result.message,
									"color":"red"
								});
							}
						}
					});
			    }    
			});  
		});
		
		
		//启用
		$("#btn_enable").click(function(){
			//取得选中的记录
			var selections = $("#datagrid").datagrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录",
					"color":"yellow"
				});
				return;
			}
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			
			confirm('温馨提示','确定启用？',function(flag){    
			    if (flag){ 
			    	var ids = new Array();
					$.each(selections,function(i,item){
						ids.push(item.id);
					});
					
					$.ajax({
						url:"{:U('FriendlyLink/setStatus')}",
						type:"post",
						data:{
							"ids":ids.join(","),
							"status":1
						},
						success:function(response){
							var result = $.parseJSON(response);
							if(result.success){
								$.tipShow({
									"message":result.message,
									"color":"green"
								});
								$("#datagrid").datagrid("reload");
							}else{
								$.tipShow({
									"message":result.message,
									"color":"red"
								});
							}
						}
					});
			    }    
			}); 
		});
		
		//禁用
		$("#btn_disable").click(function(){
			//取得选中的记录
			var selections = $("#datagrid").datagrid("getSelections");
			if(!selections.length){
				$.tipShow({
					"message":"请选择需要操作的记录!",
					"color":"yellow"
				});
				return;
			}
			//判断是否被禁用,若禁用直接返回
			if($(this).linkbutton('options').disabled){
				return;
			}
			confirm('温馨提示','确定禁用？',function(flag){    
			    if (flag){ 
			    	var ids = new Array();
					$.each(selections,function(i,item){
						ids.push(item.id);
					});
					
					$.ajax({
						url:"{:U('FriendlyLink/setStatus')}",
						type:"post",
						data:{
							"ids":ids.join(","),
							"status":0
						},
						success:function(response){
							var result = $.parseJSON(response);
							if(result.success){
								$.tipShow({
									"message":result.message,
									"color":"green"
								});
								$("#datagrid").datagrid("reload");
							}else{
								$.tipShow({
									"message":result.message,
									"color":"red"
								});
							}
						}
					});
			    }    
			}); 
		});
		
	});
	</script>
</block>