<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title></title>
</block>
<block name="body">
<form id="myform" class="easyui-form myform" data-options="novalidate:false" method="post">
	<table>
		<tr>
			<td class="text_right" style="width:85px"><span class="mark">*</span>名称：</td>
			<td><input id="name"  name="cate_name" value="{$data.cate_name}" class="easyui-textbox" style="width:250px" data-options="validateOnCreate:false,required:true,validType:['length[1,40]'],tipPosition:'right'" >
				<input id="hdnId" name="id" type="hidden" value="{$data.id}">
			</td>
		</tr>
		<tr>
			<td class="text_right">管理员：</td>
			<td><span id="adminlist">{$data.adminlist}</span><a id="btn_set" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-extend-usergroup'">分配</a></td>
		</tr>

		<tr>
			<td class="text_right"><span class="mark">*</span>排序：</td>
			<td>
				<input  name="order_no" class="easyui-numberspinner" style="width:145px;" required="required" data-options="value:'{$data.order_no}',validateOnCreate:false,min:0,max:1000,editable:true,">
				<span class="tip">（升序）</span>
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>菜单展现：</td>
			<td>
				<select name="is_fold" class="easyui-combobox" data-options="value:'{:$data?$data['is_fold']:0}',validateOnCreate:false,editable:false,panelHeight:'auto',required:true" style="width:145px">
					<option value="0">不折叠</option>
					<option value="1">折叠</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>状态：</td>
			<td>
				<select name="is_open" class="easyui-combobox" data-options="value:'{:$data?$data['is_open']:1}',validateOnCreate:false,editable:false,panelHeight:'auto',required:true" style="width:145px">
					<option value="1">启用</option>
					<option value="0">禁用</option>
				</select>
			</td>
		</tr>
		<input name="users" type="hidden" id="usersinput" value="{$data.users}">  
	</table>
</form>
</block>
<block name="script">
<script type="text/javascript">
	$(function(){
		$("#myform").form({
			url:"{:U('editOne')}",
			iframe:false,
			ajax:true,
			onSubmit:function(param){
				var isValid  = $(this).form('validate');
				if(isValid){
					//验证通过提交，禁用提交按钮，防止多次提交
					parent.$("#btnSubmit").linkbutton("disable");
				}
				return isValid ;
			},
			success:function(response){
				var result = $.parseJSON(response);
				if(result.success){
					$.tipShow({
						"message":"操作成功",
						"color":"green",
						"callback":function(){
							closeDialog({
								"windowId":"window",
								"needRefresh":true,
								"controlType":"datagrid",
								"gridId":"dicTypeGrid"
							});
						}
					});
				}else{
					$.tipShow({
						"message":"操作失败",
						"color":"red"
					});
					
					parent.$("#btnSubmit").linkbutton("enable");
				}
			},
			error:function(){
				$.tipShow({
					"message":"操作失败",
					"color":"red"
				});
				parent.$("#btnSubmit").linkbutton("enable");
			}
		});
		
		
	});
	//设置角色人员
		$("#btn_set").click(function(){
			//取得选中的记录
			var id = "{:I('get.id')}";
			var url = "{:U('setadmin')}";
			if(id){
				url+= '?cateid='+id
			}
			openDialog({
				windowId:"window_sub",
				title:"分配管理员",
				href:url,
				width:650,
				height:500,
				buttons:[
					{
						text:"确定",
						iconCls:"icon-ok",
						handler:function(){
							//选择的用户id串，逗号隔开
							var selectedUserIdStr = parent.$("#window_sub iframe")[0].contentWindow.$("#hdnSelectedIds").val();
							$.ajax({
								type:"post",
								data:{
									uidStr:selectedUserIdStr,
								},
								dataType:'json',
								url:"{:U('getuserinfo')}",
								success:function(data){
									var html = '';
									for(var i= 0;i<data.length;i++){
										html +=data[i].true_name;
										if(i+1 != data.length){
											html+="，";
										}
									}
									$('#usersinput').val(selectedUserIdStr);
									$('#adminlist').text(html);
									closeDialog({
										"windowId":"window_sub",
										"needRefresh":false
									});
								}
							});
						}
					},
					{
						text:"取消",
						iconCls:"icon-redo",
						handler:function(){
							closeDialog({
								"windowId":"window_sub",
								"needRefresh":false
							});
						}
					}
				]
			});
		});
		
</script>
</block>