<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title>添加简介</title>
</block>
<block name="body">
<form id="myform" class="easyui-form myform" data-options="novalidate:false" method="post">
	<table>
		<tr>
			<td class="text_right" style="width:80px"><span class="mark">*</span>标题：</td>
			<td>
				<input name="title" class="easyui-textbox" style="width:250px" data-options="validateOnCreate:false,required:true,validType:['length[1,40]']" >
				<input type="hidden" name='sid' value={$sid}>
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>内容：</td>
			<td>
				 <!-- 加载编辑器的容器 -->
					<textarea id="content" cols="30" rows="10" name='content'></textarea>
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>状态：</td>
			<td>
				<select name="status" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',required:true" style="width:145px">
					<option value="1">启用</option>
					<option value="0">禁用</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>排序号：</td>
			<td>
				<input id="order_no" name="order_no" class="easyui-numberspinner" style="width:145px;" required="required" data-options="min:0,max:1000,editable:true,value:0">
				<span class="tip">（升序）</span>
			</td>
		</tr>
		
	</table>
</form>
</block>
<block name="script">
	<!-- 配置文件 -->
    <!-- 编辑器源码文件 -->
	<script type="text/javascript" src="__LOCALPUBLIC__/plugins/kindeditor_4.1.10/kindeditor-min.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('#content', {
				allowFileManager : true,
				width:'400px',
				height:'300px'
			});
		});
    </script>
	<script type="text/javascript">
	$(function(){
		var type_code = $("#type_code").val();
		
		$("#myform").form({
			url:"{:U('addContent')}",
			iframe:false,
			ajax:true,
			onSubmit:function(param){
				editor.sync()
				var isValid  = $(this).form('validate');
				if(isValid){
					//验证通过提交，禁用提交按钮，防止多次提交
					parent.$("#btnSubmit").linkbutton("disable");
				}
				return isValid ;
			},
			success:function(response){
				var result = $.parseJSON(response);
				if(result.success){
					$.tipShow({
						"message":"操作成功",
						"color":"green",
						"callback":function(){
							closeDialog({
								"windowId":"window",
								"needRefresh":true,
								"controlType":"datagrid",
								"gridId":"treegrid"
							});
						}
					});
					
				}else{
					$.tipShow({
						"message":"操作失败",
						"color":"red"
					});
					
					parent.$("#btnSubmit").linkbutton("enable");
				}
			},
			error:function(){
				$.tipShow({
					"message":"操作失败",
					"color":"red"
				});
				
				parent.$("#btnSubmit").linkbutton("enable");
			}
		});
		
		$.extend($.fn.validatebox.defaults.rules, {    
			
		}); 
	});
	</script>
</block>