<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title>添加模型</title>
</block>
<block name="body">
<form id="myform" class="easyui-form myform" data-options="novalidate:false" method="post">
	<table>
		<tr>
			<td class="text_right" style="width:80px"><span class="mark">*</span>模型名称：</td>
			<td>
				<input id="model_name"  name="model_name" value="{$model.model_name}" class="easyui-textbox" style="width:250px" data-options="required:true,validType:['length[0,20]']">
				<input type="hidden" id="hdnId" name="id" value="{$model.id}">
			</td>
		</tr>
		<tr>
			<td class="text_right" style="width:80px"><span class="mark">*</span>模型编码：</td>
			<td><input id="model_code"  name="model_code" value="{$model.model_code}" class="easyui-textbox" style="width:250px" data-options="validateOnCreate:false,delay:800,required:true,validType:['length[0,20]','validModelCode']"></td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>状态：</td>
			<td>
				<select name="status" class="easyui-combobox" data-options="value:'{$model.status}',editable:false,panelHeight:'auto',required:true" style="width:130px">
					<option value="1">启用</option>
					<option value="0">禁用</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>排序号：</td>
			<td>
				<input id="order_no" name="order_no" class="easyui-numberspinner" style="width:145px;" required="required" data-options="min:0,max:1000,editable:true,value:{$model.order_no}">
				<span class="tip">（升序）</span>
			</td>
		</tr>
		<tr>
			<td class="text_right">描述：</td>
			<td><textarea style="width:300px;height:100px" name="description" class="easyui-validatebox text-area" maxlength="200">{$model.description}</textarea></td>
		</tr>
	</table>
</form>
</block>
<block name="script">
	<script type="text/javascript">
	$(function(){
		$("#myform").form({
			url:"{:U('Model/updateModel')}",
			iframe:false,
			ajax:true,
			onSubmit:function(param){
				var isValid  = $(this).form('validate');
				return isValid ;
			},
			success:function(response){
				var result = $.parseJSON(response);
				if(result.success){
					$.tipShow({
						"message":"操作成功",
						"color":"green",
						"callback":function(){
							closeDialog({
								"windowId":"window",
								"needRefresh":true
							});
						}
					});
				}else{
					$.tipShow({
						"message":"操作失败",
						"color":"red"
					});
				}
			},
			error:function(){
				$.tipShow({
					"message":"操作失败",
					"color":"red"
				});
			}
		});
		

		$.extend($.fn.validatebox.defaults.rules, {    
		    validModelCode:{
		    	validator:function(value,param){
		    		var id= $("#hdnId").val();
		    		var isValid = false;
		    		$.ajax({
		    			type:"post",
		    			async:false,
		    			data:{
		    				"id":id,
		    				"model_code":$.trim(value)
		    			},
		    			url:"{:U('Model/validModelCodeByUpdate')}",
		    			success:function(response){
		    				var result = $.parseJSON(response);
		    				isValid = !result.isExist;
		    			},
		    			error:function(){
		    				isValid = false;
		    			}
		    		});
		    		return isValid;
		    	},
		    	message:"该模型编码已存在"
		    }
		}); 
	});
	</script>
</block>