<extend name="./App/Fhmng/Common/View/base.html"/>
<block name="head">
	<title>添加题目</title>
</block>
<block name="body">
<form id="myform" class="easyui-form myform" data-options="novalidate:false" method="post">
	<table>
		<tr>
			<td class="text_right" style="width:80px"><span class="mark">*</span>标题：</td>
			<td>
				<input name="title" class="easyui-textbox" style="width:250px" data-options="validateOnCreate:false,required:true,validType:['length[1,40]']" >
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>题目类型：</td>
			<td>
				<select name="subject_type" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',required:true" style="width:145px">
					<option value="1">创意设计</option>
					<option value="2">工程设计</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="text_right" style="width:80px">图片：</td>
			<td>
			<div id="img_div" <empty name='data.img'>style='display: none;'</empty>>
				<div class="upload-img-box">
						<div class="upload-pre-item">
							<span class="upload-img-remove" id='remove_img' title="点击删除"></span>
							
								<img id="pic_img" <notempty name='data.img'>src="__UPLOADS__{$data['img']}"</notempty>>
							
						</div>
				</div>
				<!-- <img id='pic_img'  /> -->
			</div>
			<input  id="img" value="{$data.img}" name="img" type='hidden' />
			<label style="width:100px" for="file_hidden" class="easyui-linkbutton upload_button" data-options="plain:true,iconCls:'icon-extend-upload'">上传图片</label>
			<input type='file' id="file_hidden" style="width:0;" onchange="ajaxfileupload()" name="pic" class="file"/>
			</td>
		</tr>
		<!-- <tr>
			<td class="text_right" style="width:80px">举办方：</td>
			<td><input  name="organizer" class="easyui-textbox" style="width:250px" data-options="validateOnCreate:false,validType:['length[0,100]']" ></td>
		</tr>
		<tr>
			<td class="text_right" style="width:80px">奖励：</td>
			<td><input  name="reward" class="easyui-textbox" style="width:250px" data-options="validateOnCreate:false,validType:['length[0,100]']" ></td>
		</tr> -->
		<tr>
			<td class="text_right"><span class="mark">*</span>赛事简介：</td>
			<td><textarea style="width:300px;height:100px" name="description" class="easyui-validatebox text-area"data-options="validateOnCreate:false,required:true,validType:['length[1,500]']"  maxlength="500"></textarea></td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>状态：</td>
			<td>
				<select name="status" class="easyui-combobox" data-options="editable:false,panelHeight:'auto',required:true" style="width:145px">
					<option value="1">启用</option>
					<option value="0">禁用</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="text_right"><span class="mark">*</span>排序号：</td>
			<td>
				<input id="order_no" name="order_no" class="easyui-numberspinner" style="width:145px;" required="required" data-options="min:0,max:1000,editable:true,value:0">
				<span class="tip">（升序）</span>
			</td>
		</tr>
		
	</table>
</form>
</block>
<block name="script">
	<script src="__PUBLIC__/system/js/ajaxfileupload.js"></script>
	<script type="text/javascript">
	$(function(){
		var type_code = $("#type_code").val();
		
		$("#myform").form({
			url:"{:U('addSubject')}",
			iframe:false,
			ajax:true,
			onSubmit:function(param){
				var isValid  = $(this).form('validate');
				if(isValid){
					//验证通过提交，禁用提交按钮，防止多次提交
					parent.$("#btnSubmit").linkbutton("disable");
				}
				return isValid ;
			},
			success:function(response){
				var result = $.parseJSON(response);
				if(result.success){
					$.tipShow({
						"message":"操作成功",
						"color":"green",
						"callback":function(){
							closeDialog({
								"windowId":"window",
								"needRefresh":true,
								"controlType":"datagrid",
								"gridId":"dicTypeGrid"
							});
						}
					});
					
				}else{
					$.tipShow({
						"message":"操作失败",
						"color":"red"
					});
					
					parent.$("#btnSubmit").linkbutton("enable");
				}
			},
			error:function(){
				$.tipShow({
					"message":"操作失败",
					"color":"red"
				});
				
				parent.$("#btnSubmit").linkbutton("enable");
			}
		});
		
		$.extend($.fn.validatebox.defaults.rules, {    
			
		}); 
		//删除图片
		$("#remove_img").click(function(){
			var path = '__UPLOADS__' + $('#img').val();
			if(!path){
				return;
			}
			confirm('温馨提示','确定删除该图片？',function(flag){
				 if (flag){ 
					 $.ajax({
							type:"post",
							data:{
								"path":path
							},
							url:"{:U('removeImg')}",
							success:function(response){
								var result = $.parseJSON(response);
								if(result.success){
									$('#img_div').css('display','none');
									$('#img').val('');
									 $.tipShow({
										"message":result.message,
										"color":"green"
									});
								}else{
									$.tipShow({
										"message":result.message,
										"color":"red"
									});
								}
							}
					  });
				 }
			});
		})
	});
	function ajaxfileupload() {
            $.ajaxFileUpload
            (
                {
                    url: "{:U('upload_pic')}", //用于文件上传的服务器端请求地址
                    secureuri: false, //是否需要安全协议，一般设置为false
                    fileElementId: 'file_hidden', //文件上传域的ID
                    dataType: 'text', //返回值类型 一般设置为json
                    success: function (response)  //服务器成功响应处理函数
                    {
						
                        //清空上传表单
						$("#file_form").form('reset');
						var result = $.parseJSON(response);
						if(result.success){
							$("#pic_img").attr('src','__UPLOADS__'+result.savefile);
							$('#img').val(result.savefile);
							$("#img_div").css('display','block');
						}else{
							$.tipShow({
								"message":result.message,
								"color":"red"
							});
						}
                    }
                }
            )
            return false;
        }
	</script>
</block>